* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #010101;
}

#main-container {
  background-color: #e0f5f5;
  width: 500px;
  margin: 162px auto;
  padding: 10px;
  border-radius: 10px;
}

#display {
  background-color: #369093;
  font-size: 40px;
  min-height: 100px;
  text-align: right;
  overflow-wrap: break-word;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}

#result {
  min-height: 47px;
  color: #c1c23c;
}

#current-content {
  color: #f9f871;
  display: flex;
  justify-content: space-between;
}

#current-operand {
  overflow-wrap: break-word;
  max-width: 450px;
}

#button-container {
  background-color: #369093;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  padding: 30px;
  border-radius: 10px;
}

button {
  background-color: #171717;
  font-size: 30px;
  border: none;
  border-radius: 20px;
  color: #fafafa;
  min-width: 80px;
  min-height: 80px;
}

button:hover,
button:active {
  font-size: 25px;
  outline: 3px solid #e0f5f5;
}

#equal {
  background-color: #00c9d6;
  flex: 1;
  border-radius: 20px;
}

#delete {
  flex: 1;
  border-radius: 20px;
}

#operand,
#zero {
  background-color: #005155;
}

#dot {
  background-color: #324b4c;
}

#operator {
  background-color: #a73a00;
}

#clear,
#delete {
  background-color: #ff8847;
}
